{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de carros</title>

</head>
<body>
    
    {% block content%}
    <h1>Bem vindo a loja de carros Do Gabriel</h1>

        <form action="{% url 'cars_list'%}" method="GET" >
            <input type="text" name="search" placeholder="Buscar Carro..." class="input-search">
            <button type="submit" class="btn">Buscar</button>

        </form>

    <div class="container">
    {% for car in cars_list %}
        <a href="">
            <div class="car-card">
                <img src="{{car.photo.url}}" alt="foto-de-carro" class="car-card-image">
                <li> {{ car.brand }}   {{ car.model }}  - {{ car.factory_year }} </li>
        
            </div>
            

        </a>


        {%endfor%}
    </div>

    

   
{% endblock %}

</body>
</html>